{% extends 'base.html' %}
{% block content %}
<h1 class="mb-4">Inspections</h1>
<a href="{{ url_for('add_inspection') }}" class="btn btn-success mb-3">Add Inspection</a>
<table class="table table-striped">
    <thead><tr><th>ID</th><th>College</th><th>Date</th><th>Inspector</th><th>Remarks</th></tr></thead>
    <tbody>
        {% for insp in inspections %}
        <tr>
            <td>{{ insp.id }}</td>
            <td>{{ insp.college }}</td>
            <td>{{ insp.inspection_date }}</td>
            <td>{{ insp.inspector }}</td>
            <td>{{ insp.remarks }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}